.header-area {
  background-color: #263045;
  height: 40px !important;
  border-left: 1px solid #888D97;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-dropdown{
    display: flex;
    align-items: center;
    color: white
  }

  .header-dropdown-name {
    display: inline-block;
    /* padding-bottom: 5px !important; */
    margin-right: 2px !important;
    margin-bottom: 15px !important;
    color: white;
  }

  .header-dropdown-img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
  }

  .search-header{
    margin-top: 7px !important;
  }