.page-App {
  /* text-align: center;
    max-width: 728px;
    margin: 0 auto; */
  /* margin-top: 40px !important; */
  /* margin-left: 130px !important; */
  display: flex;
  flex-direction: row;
}

.page-App header {
  background-color: #181717;
  height: 50px;
  min-height: 30px;
  color: white;
  position: absolute;
  width: 100%;
  /* max-width: 1228px; */
  /* top: 50px !important; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* z-index: 99; */
  padding: 10px;
  box-sizing: border-box;
}

.page-App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 100vh; */
  height: 667px !important;
  width: 100%;
  /* max-width: 1228px; */
  background-color: white;
  margin-top: 50px !important;
}

.page-main {
  padding: 10px;
  height: 80vh;
  /* margin: 10vh 0 10vh; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.page-main::-webkit-scrollbar {
  width: 0.25rem;
}

.page-main::-webkit-scrollbar-track {
  background: #1e1e24;
}

.page-main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.page-form {
  height: 10vh;
  /* position: fixed; */
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  /* max-width: 1228px; */
  display: flex;
  font-size: 1.5rem;
}

.page-form button {
  width: 20%;
  background-color: #263045;
}

.page-input {
  line-height: 1.5;
  width: 80%;
  font-size: 1.5rem;
  background: white;
  color: black;
  outline: none;
  border: none;
  padding: 0;
}

.page-button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.page-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.page-App ul,
li {
  text-align: left;
  list-style: none;
}

.page-p {
  max-width: 500px;
  margin-bottom: 12px;
  /* height: auto !important; */
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  box-sizing: border-box;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #263045;
  align-self: flex-end;
  display: inline-block;
  padding-right: 10px !important;
  height: auto !important; 
}
.received p {
  background: #e5e5ea;
  color: black;
}

.page-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.tox-tinymce {
  border: none !important;
  border-radius: 0 !important;
}

.ql-container.ql-snow {
  height: 60%;
  overflow-y: scroll;
}


.ql-toolbar.ql-snow{
  height: 40%;
}

.ql-toolbar.ql-snow .ql-formats{
  display: flex;
  align-items: center;
}
